*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(300deg, rgb(35, 1, 82), rgb(99, 0, 26));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: transparent;
    border: solid 5px rgb(0, 162, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    padding: 15px;
}
.botao{
    background-color: transparent;
    border: solid 3px rgb(255, 255, 255);
    height: 50px;
    width: 50px;
    margin: 2px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    cursor: pointer;   
}
.botao:hover{
    background-color: white;
    opacity: 0.1;
    color: rgb(0, 162, 255);
}
.botao:active{
    background-color: rgb(255, 255, 255);
    opacity: 1;
    color: rgb(0, 162, 255);
}
#resultado{
    background-color: transparent;
    border: solid 4px rgb(255, 255, 255);
    width: 205px;
    height: 50px;
    margin: 5px;
    border-radius: 4px;
    text-align: left;
    color: white;
    font-size: 47px;
    padding: 5px;
    overflow: hidden;
    direction: rtl;
}